/*@import url('_vector.css');
@import url('_error.css');
@import url('_page_index.css');
@import url('_page_team.css');
@import url('_page_match.css');*/

@import url('https://dreamcheck.github.io/assets/css/_vector.css');
@import url('https://dreamcheck.github.io/assets/css/_error.css');
@import url('https://dreamcheck.github.io/assets/css/_page_index.css');
@import url('https://dreamcheck.github.io/assets/css/_page_team.css');
@import url('https://dreamcheck.github.io/assets/css/_page_match.css');

body {
  background: rgb(248, 248, 250);
}

#loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topbar {
  box-shadow: 0 1px 4px 0px rgba(0, 0, 255, .05) !important; 
}

.page-title {
  margin: 2rem;
}

@media screen and (max-width: 425px) {
  .page-title {
    margin: 1rem;
  }
}
